:root {
  --primary-color: #faf7f7;
  --secondary-color: #BEE3DB;
  --tertiary-color: #89B0AE;
  --dark-color: #434857;
  --apricot-color: #FFD6BA;
}

body {
    height: 500px;
    width: 400px;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #656b7c, var(--dark-color));
    color: var(--primary-color);
  }
  
  .timerBox {
    width: 20%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 4px;
    margin: 4px 4px;
    font-size: 1.7rem;
  }
  
  #timer {
    font-size: 5.5em;
    text-align: center;
    margin: 5px 0;
  }
  
  #controls {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  #quotes {
    margin: 12px 0; 
    font-style: italic;
  }
  
  #input-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* ----- Button Styling ------ */
button {
  font-size: 16px;
  margin: auto;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  border-radius: 2em;
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
 }
/* ----------------------------------- */
/* ----- Heading Styling ------ */
  #heading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 55%;
    width: 97%;
    margin-top: 30px;
  }

  #title {
    background-color: var(--tertiary-color);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 50%;
    overflow: hidden;
    padding: 12px 30px;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }

  #intro {
    background-color: var(--apricot-color);
    color: var(--dark-color);
    padding: 17px 9px;
    font-size: 1.15rem;
    border-radius: 2em;
    margin: auto;
  }
/* ----------------------------------- */